.HORIZONTAL_SCROLL_NAV {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
}

.HORIZONTAL_SCROLL_NAV>div {
    margin: 0;
}
.home{
background-image: url('../assets/images/home-bg.jpg');

}

li {
    list-style: none
}

::-webkit-scrollbar {
    height: 6px;
    width: 4px;
    background: #a8c6fe;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #2268ec;
    border-radius: 20px;
}

.home_bg {
    padding: 0;
    background-image:url('../assets/images/home_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}
